<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="pageHeader">Edit Member | {{ member.firstname + ' ' + member.lastname}} ({{ member.memberid}})</h1>
  </div>
</div>
<div ng-include src="'partials/breadcrumbs.html'"></div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <form role="form">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" placeholder="John" ng-model="member.firstname" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Smith" ng-model="member.lastname" />
      </div>
      <div class="form-group">
        <label for="emailAddress">Email Address</label>
        <input type="email" class="form-control" id="emailAddress" placeholder="John.Smith@example.com" ng-model="member.emailaddress" />
      </div>
      <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" class="form-control" id="phone" placeholder="(123) 456 7890" ng-model="member.phonenumber" />
      </div>
      <div class="form-group">
        <label for="accessTimeStart">Access Time</label>
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <input type="time" class="form-control" id="accessTimeStart" ng-model="member.accessstarttime" />
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <input type="time" class="form-control" id="accessTimeEnd" ng-model="member.accessendtime" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="handle">Nick Name/Handle</label>
        <input type="text" class="form-control" id="handle" placeholder="Jonny/eaterofsouls" ng-model="member.handle" />
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="123 Plesant St" ng-model="member.address" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <label for="city">City</label>
            <input type="text" name="city" id="city" placeholder="Plesant Town" ng-model="member.city" class="form-control" />
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <label for="State">State</label>
            <input type="text" name="state" id="state" placeholder="Plesant State" ng-model="member.state" class="form-control" />
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <label for="zipcode">Zipcode</label>
            <input type="text" name="zipcode" id="zipcode" placeholder="12345" ng-model="member.zipcode" class="form-control" />
          </div>
        </div>
      </div>
      <div class="well">
        <h3>Access Cards</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Card ID</th>
              <th>Card Type</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="card in member.cards">
              <td>{{ card.cardid }}</td>
              <td>{{ card.cardtype }}</td> 
              <td><button ng-click="deleteCard(card.id, $index)" class="btn btn-error">X</button></td>
            </tr>
          </tbody>
        </table>
        <form class="form-inline" role="form">
          <div class="form-group">
            <label for="card">Card Number</label>
            <input class="form-control" type="text" id="card" placeholder="ADK458D9" ng-model="card.cardId" /> 
          </div>
          <div class="form-group">
            <label for="cardType">Card Type</label>
            <select id="cardType" class="form-control" ng-model="card.cardType">
              <option value="{{ card.value }}" ng-repeat="card in cardTypes" > {{ card.name }}</option>
            </select>
          </div>
          <button type="button" class="btn btn-info" ng-click="addCard()">Add Card</button>
        </form>
      </div>
      <button type="button" class="btn btn-primary" ng-click="updateMember()">Submit</button>
    </form>
  </div>
</div>
