<div>
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <h1>Members</h1>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <input type="text" class="form-control" placeholder="Find a member" />
    </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Full Name</td>
        <td>Handle/Nickname</td>
        <td>Email</td>
        <td>Member Level</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="member in members">
        <td>{{ member.firstname }} {{ member.lastname }}</td>
        <td>{{ member.handle }}</td>
        <td>{{ member.emailaddress }}</td>
        <td>{{ member.memberlevel }}</td>
        <td><a href="#/members/edit/{{ member.memberid }}" class="btn btn-primary">Edit</a> <button ng-click="delete()" class="btn btn-danger">Delete</button> <button class="btn {{ member.isActive != 1 ? 'btn-warning' : 'btn-success'}}" ng-click="toggleActive()">{{ member.isActive != 1 ? 'Deactivate' : 'Activate'}}</button><b>{{ member.isActive}}</b></td>
      </tr>
    </tbody>
  </table>
</div>
