<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <div class="row" id="dashLinks">
    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    	<a href="">
    		<span class="glyphicon glyphicon-user">
    			
    		</span>
    		<span class="glyphicon glyphicon-plus">
    			
    		</span>
    		<br/>
    		<span>
    			Add User
    		</span>
    		</a>
    	</div>
    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
    		<a href="">
    		<span class="glyphicon glyphicon-tasks">
    			
    		</span>
    		<br/>
    		<span>
    			History
    		</span>
    		</a>
    	</div>
    	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
    		<a href="">
    		<span class="glyphicon glyphicon-wrench">
    			
    		</span>
    		<br/>
    		<span>
    			Settings
    		</span>
    		</a>
    	</div>
    </div>
    <div class="row">
		<div class="col-xs-12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"><i class="fa fa-signal"></i></span>
					<h5>Site Statistics</h5>
					<div class="buttons">
						<a href="#" class="btn"><i class="fa fa-refresh"></i> <span class="text">Update stats</span></a>
					</div>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<ul class="site-stats">
								<li>
									<div class="cc">
										<i class="glyphicon glyphicon-user"></i>
										<strong>
											{{ memberCount }}
										</strong>
										<small>
											Total Users
										</small>
									</div>
								</li>
								<li>
									<div class="cc">
										<i class="fa fa-arrow-right"></i>
										<strong>
											16
										</strong>
										<small>
											New Users (last week)
										</small>
									</div>
								</li>
								<!-- *************************** -->
								<li class="divider"></li>
								<li>
									<div class="cc">
										<i class="fa fa-shopping-cart"></i>
										<strong>
											259
										</strong> 
										<small>
											Total Shop Items
										</small>
									</div>
								</li>
								<li>
									<div class="cc">
										<i class="fa fa-tag"></i> 
										<strong>
											8650
										</strong> 
										<small>
											Total Orders
										</small>
									</div>
								</li>
								<li>
									<div class="cc">
										<i class="fa fa-repeat"></i>
										<strong>
											29
										</strong> 
										<small>
											Pending Orders
										</small>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-8">
							<div class="chart"></div>
						</div>	
					</div>							
				</div>
			</div>					
		</div>
	</div>
  </div>
</div>
